@import "tailwindcss";



body{
    background-color: #1b1b1b;
}
.allswipercard{
    /* overflow-y: auto; */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}
.allswipercard::-webkit-scrollbar {
    display: none;
}
.swipercard{
    scroll-snap-align: center;
}